/* colors */
/* taken from https://tailwindcss.com/docs/customizing-colors */
:root {
    --color_main: #0ea5e9;
    --color_dark: #0369a1;
    --color_very_dark: #0c4a6e;
    --color_light: #7dd3fc;
    --color_very_light: #e0f2fe;
    --color_font: #1f2937;
    --color_background: #fffbeb;
}

#portrait {
    float: right;
    margin-left: 1em;
    max-width: 38%;
}

img.bookcover {
    width: 100%;
}

div.book {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-items: flex-start;
    width: 100%;
}

div.cover {
    margin-left: 1em;
    max-width: 20%;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--color_font);
    background-color: var(--color_background);
    max-width: 50em;
    min-width: 20em;
    margin: auto;
    line-height: 1.5;
    padding: 0 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color_very_dark);
}

strong {
    color: var(--color_very_dark);
}

a:link {
    color: var(--color_dark);
}

a:visited {
    color: var(--color_very_dark);
}

header {
    /* overflow: hidden; */
    background-color: var(--color_main);
}

header h1 {
    color: var(--color_very_light);
    text-align: left;
    padding: 0.5em 0.75em;
    margin: 0;
}

header h1 a {
    color: var(--color_very_light);
    text-decoration: none;
}

header h1 a:visited {
    color: var(--color_very_light);
}

#menu_icon {
    height: 0.7em;
}

nav {
    /* list-style-type: none; */
    /* margin: 0; */
    /* padding: 0; */
    overflow: hidden;
    background-color: var(--color_light);
    border-style: solid none none none;
    border-color: var(--color_background);
    border-width: 0.2em;
}

nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 0.5em 0.75em;
    text-decoration: none;
}

nav a:hover:not(.current) {
    background-color: var(--color_very_dark);
    color: var(--color_very_light);
}

nav a:link {
    color: var(--color_very_dark);
}

nav a:visited {
    color: var(--color_very_dark);
}

#menu_link_id {
    display: none;
}

/* When the screen is less than 30em wide, hide the navigation bar and
   show the menu icon */
@media screen and (max-width: 30em) {
    nav.topnav_js {
	display: none;
    }
    #menu_link_id.menu_link_js {
	float: right;
	display: block;
    }
    /* Display the menu vertically when clicking on the icon (class
       "responsive" is added dynamically using JavaScript) */
    nav.topnav_js.responsive {display: block;}
    nav.topnav_js.responsive a {
  	float: none;
  	text-align: left;
    }
}

.current {
    background-color: var(--color_dark);
    color: var(--color_very_light);
}

.current:link {
    color: var(--color_very_light);
}

.current:visited {
    color: var(--color_very_light);
}

footer {
    font-size: small;
    background-color: var(--color_light);
    color: var(--color_very_dark);
    padding: 0.5em 0.75em;
}

td {
    vertical-align: top;
}
